
<div class="header">
  <h5 class="center"><b>Babble Bear <img class="thumbnail-image" src="/teddy_bear_crop.png" ></div> </b></h5>
  <br>
  <hr>
</div>


<div class="categories">

  <% @categories.each do |category| %>
    <div id="cat<%= category.id %>" class="category" data="<%= category.id %>" name="<%= category.name %>" color="<%= category.color %>"  style="background-color:<%=category.color %>" description="<%= category.description %>">
      <div class='content'>
      <h5 class="category-name" style="color:white"> <%= category.name %> </h5>
      </div>
    </div>
  <% end %>

</div>
